.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  color: white;
  display: flex;
  flex-direction: column ;
}

.box-child1 {
  width: 30rem;
  height: 30rem;
  background-color: #600a7d;
}

.box-child2 {
  width: 24rem;
  height: 24rem;
  background-color: #10377a;
}

.box-child3 {
  width: 18rem;
  height: 18rem;
  background-color: #367cf2;
}

.box-child4 {
  width: 12rem;
  height: 12rem;
  background-color: #7888de;
}
